body {
    font-size: 20px;
    min-width: 50%;
    background-image: url("corgi.jpg");
    background-size: cover;
}

header {
    font-family: fantasy;
    color: #344a91;
    line-height: 125%;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    text-shadow: -1px -1px 3px #7c3333;
}

h3 {
    color: darkred;
    font-size: 30px;
    position: fixed;
    bottom: 0;
}

.border {
    /*border-radius: 12px;*/
    background-color: rgba(5, 5, 5, 0.3);
    text-align: center;
}

table {
    width: 100%;
    height: 100%;
}

#formSubmit {
    font-size: 30px;
    width: 120px;
    height: 70px;
    background: rgba(190, 30, 30, 0.3);
    color: #ffffff;
}

